.common {
    &Card {
        background: radial-gradient(105.81% 105.81% at 50% 50%, #28085C 0%, #000 100%);
        padding-top: 160px;
        padding-bottom: 216px;
        &Title {
            color: #FFF;
            h2 {
                font-size: 48px;
                letter-spacing: 48px;
            }
        }
        &List {
            display: flex;
            justify-content: space-between;
        }
        &Item {
            padding: 40px;
            width: 31%;
        }
    }
}