.CJK-TC {
    font-family: 'Noto Sans TC';
}
.Shrikhand {
    font-family: 'Shrikhand';
}
.Saira {
    font-family:'Saira Extra Condensed';
}
.common {
    &Card {
        background: radial-gradient(105.81% 105.81% at 50% 50%, #28085C 0%, #000 100%);
        padding-top: 160px;
        padding-bottom: 216px;
        @include pad {
            padding-top: 80px;
            padding-bottom: 108px;
            @include mobile {
                padding-top: 40px;
                padding-bottom: 54px;
            }
        }
        &Title {
            width: 32.099%;
            @include pad {
                width: 100%;
                text-align: center;
            }
            h2 {
                font-size: 48px;
                letter-spacing: 48px;
                @include mobile {
                    font-size: 28px;
                    letter-spacing: 28px;
                }
            }
        }
        &List {
            display: flex;
            justify-content: space-between;
            @include pad {
                justify-content: center;
            }
        }
        &Item {
            //416px
            width: 32.099%;
            height: 416px;
            padding: 40px;
            cursor: pointer;
            @include pad {
                width: 66.6%;
                height: 312px;
            }
            @include mobile {
                width: 100%;
                height: 280px;
            }
        }
        &DotS {
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
        &DotM {
            width: 16px;
            height: 16px;
            border-radius: 50%;
        }
    }
    &News {
        color: #FFFFFF;
        h2 {
            font-size: 48px;
            letter-spacing: 48px;
            font-weight: 900;
            padding-top: 160px;
            padding-bottom: 60px;
            @include pad {
                font-size: 40px;
                letter-spacing: 40px;
                padding-top: 80px;
            }
            @include mobile {
                font-size: 28px;
                letter-spacing: 28px;
                padding-top: 40px;
                padding-bottom: 0px;
            }
        }
        &Header {
                padding-top: 160px;
            @include pad {
                padding-top: 80px;
            }
            @include mobile {
                text-align: center;
                padding-top: 40px;
            }
            h2 {
                font-size: 48px;
                letter-spacing: 48px;
                @include pad {
                    font-size: 36px;
                    letter-spacing: 36px;
                }
                @include mobile {
                    font-size: 32px;
                    letter-spacing: 32px;
                }
            }
        }
        &List {
            margin-bottom: 60px;
            @include pad {
                margin-bottom: 40px;
            }
            @include mobile {
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        &Item {
            h3 {
                font-size: 128px;
                letter-spacing: 320px;
                font-weight: 350;
                @include pad {
                    font-size: 96px;
                }
                @include mobile {
                    font-size: 64px;
                }
            }
        }
        &Content {
            h3 {
                font-size: 20px;
                letter-spacing: 20px;
                font-weight: 500;
            }
            h4 {
                letter-spacing: 16px;
                font-weight: 500;
                @include mobile {
                    letter-spacing: 0;
                }
            }
            p{
                font-weight: 350;
            }
        }
        &Photo {
            @include pad {
                img {
                    width: 100%;
                    height: 276px;
                }
            }
        }
        &Icon {
            position: absolute;
            bottom: 202px;
            @include mobile {
                bottom: 165px;
            }
            a {
                @include mobile {
                    font-size: 14px;
                }
            }
        }
        &Btn {
            margin: 0 auto;
            margin-top: 76px;
            margin-bottom: 96px;
            background-image: url(../images/circle-noDot.png);
            background-size: cover;
            height: 132px;
            width: 132px;
            background-repeat: no-repeat;
            @include mobile {
            width: 98px;
            height: 98px;
            font-size: 14px;
            margin-top: 38px;
            margin-bottom: 48px;
            }
        }
        &Footer {
            p {
                @include mobile {
                    font-size: 14px;
                }
            }
        }
        &Border {
            border-right: 1px solid #FFF;
            @include mobile {
                border-right: transparent;
            }
        }
        &Page {
            padding-bottom: 120px;
            @include pad {
                padding-bottom: 80px;
            }
            @include mobile {
                padding-bottom: 40px;
            }
            a {
                font-size: 24px;
            }
        }
    }    
    &UnderBox1 {
        max-width: 1760px;
        margin: 0 auto;
        position: absolute;
        top: 112px;
        left: 50%;
        transform: translate(-50%, 0%);
        @include pad {
            top: 42px;
        }
        @include mobile {
            top: 50px;
        }
        &Item {
            width: 100%;
            height: 40px;
            background: linear-gradient(90deg, #7000FF 1.22%, #11002D 116.05%);
            @include pad {
                height: 20px;
            }
            @include mobile {
                height: 15px;
            }
        }
    }
    &UnderBox2 {
        max-width: 1760px;
        margin: 0 auto;
        position: absolute;
        bottom: 52px;
        left: 50%;
        transform: translate(-50%, 0%);
        @include pad {
            bottom: 42px;
        }
        @include mobile {
            bottom: 20px;
        }
        &Item {
            width: 100%;
            height: 40px;
            background: linear-gradient(90deg, #7000FF 1.22%, #11002D 116.05%);
            @include pad {
                height: 20px;
            }
            @include mobile {
                height: 15px;
            }
        }
    }
}
.swiperAbout {
    overflow-x: hidden;
    @include pad {
        position: relative;
    }
}
.swiper-scrollbar-drag {
    background-color: $white;
}
.swiper-scrollbar {
    width: 68%;
    background: rgba(255, 255, 255, 0.20);
    p {
        color: #FFF;
        position: absolute;
        right: -82px;
        bottom: -8px;
    }
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    width: 66.0495%;
    @include pad {
        width: 86%;
    }
    @include mobile {
        width: 66%;
    }
}
.swiper-button-next, .swiper-button-prev {
    color: #fff;
    position: initial;
    margin-top: 0;
    width: auto;
    height: auto;
    svg {
        fill: #D9D9D9;
        &:hover {
            fill: #7000FF;
            transition: .4s;
        }
    }
    &::after {
        content: '';
    }
    @include pad {
        position: absolute;
    }
    @include mobile {
        top: 250px;
    }
}
.imageRotate {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.commonUnderBox {
    max-width: 1760px;
    margin: 0 auto;
    margin-top: 88px;
}