.common {
    &Card {
        background: radial-gradient(105.81% 105.81% at 50% 50%, #28085C 0%, #000 100%);
        padding-top: 160px;
        padding-bottom: 216px;
        &Title {
            color: #FFF;
            h2 {
                font-size: 48px;
                letter-spacing: 48px;
            }
        }
        &List {
            display: flex;
            justify-content: space-between;
        }
        &Item {
            padding: 40px;
            width: 31%;
        }
    }
}

.swiperAbout {
    overflow-x: hidden;
}
.swiper-scrollbar-drag {
    background-color: $white;
}
.swiper-scrollbar {
    height: 300px;
}
.fs-80 {
    font-size: 80px;
}

.swiper-button-next, .swiper-button-prev {
    color: #fff;
    position: initial;
    margin-top: 0;
    width: auto;
    height: auto;
    &::after {
        content: '';
    }
}