<footer class="footer bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="footerCopy">
                <h3>ALPHABOX+</h3>
                <p class="d-lg-block d-md-block d-none CJK-TC">Copyright © 2023 Hexschool.</p>
            </div>
            <figure class="d-lg-block d-md-none d-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                    <mask id="mask0_287_5434" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="80" height="80">
                    <rect width="80" height="80" fill="#D9D9D9"/>
                    </mask>
                    <g mask="url(#mask0_287_5434)">
                    <path d="M34.1665 70V50.1667L16.9998 60.0833L11.1665 50L28.3332 40L11.1665 30.0833L16.9998 20L34.1665 29.9167V10H45.8332V29.9167L62.9998 20L68.8332 30.0833L51.6665 40L68.8332 50L62.9998 60.0833L45.8332 50.1667V70H34.1665Z" fill="black"/>
                    </g>
                </svg>
            </figure>
            <figure class="d-lg-none d-md-block d-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 80 80" fill="none">
                    <mask id="mask0_287_5434" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="60" height="60">
                    <rect width="60" height="60" fill="#D9D9D9"/>
                    </mask>
                    <g mask="url(#mask0_287_5434)">
                    <path d="M34.1665 70V50.1667L16.9998 60.0833L11.1665 50L28.3332 40L11.1665 30.0833L16.9998 20L34.1665 29.9167V10H45.8332V29.9167L62.9998 20L68.8332 30.0833L51.6665 40L68.8332 50L62.9998 60.0833L45.8332 50.1667V70H34.1665Z" fill="black"/>
                    </g>
                </svg>
            </figure>
            <figure class="d-lg-none d-md-none d-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 80 80" fill="none">
                    <mask id="mask0_287_5434" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="60" height="60">
                    <rect width="60" height="60" fill="#D9D9D9"/>
                    </mask>
                    <g mask="url(#mask0_287_5434)">
                    <path d="M34.1665 70V50.1667L16.9998 60.0833L11.1665 50L28.3332 40L11.1665 30.0833L16.9998 20L34.1665 29.9167V10H45.8332V29.9167L62.9998 20L68.8332 30.0833L51.6665 40L68.8332 50L62.9998 60.0833L45.8332 50.1667V70H34.1665Z" fill="black"/>
                    </g>
                </svg>
            </figure>
            <ul class="footerList d-flex row">
                <li class="footerItem col-lg-3 col-md-3 col-6">
                    <a href="about.html">
                        關於我們
                    </a>
                </li>
                <li class="footerItem col-lg-3 col-md-3 col-6">
                    <a href="product.html">
                        產品資訊
                    </a>
                </li>
                <li class="footerItem col-lg-3 col-md-3 col-6">
                    <a href="faq.html">
                        常見問題
                    </a>
                </li>
                <li class="footerItem col-lg-3 col-md-3 col-6">
                    <a href="#">
                        隱私政策
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>