$font-size-base:16px;

$text-s: $font-size-base * 0.875; //14px
$text-base: $font-size-base; 
$text-m: $font-size-base * 1.25; //20px
$text-l: $font-size-base * 1.5; //24px
$text-2l: $font-size-base * 1.75; //28px
$text-xl: $font-size-base * 2; //32px
$text-2xl: $font-size-base * 2.25; //36px
$text-3xl: $font-size-base * 2.5; //40px
$text-4xl: $font-size-base * 3; //48px
$text-5xl: $font-size-base * 3.5; //56px
$text-6xl: $font-size-base * 4; //64px
$text-7xl: $font-size-base * 5; //80px
$text-8xl: $font-size-base * 5; //80px

$black:#000000;
$white:#ffffff;

$dark:$black;
$gray:$gray-400;

