@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Saira+Extra+Condensed:wght@300;500;700&family=Shrikhand&display=swap');
*,*::before,*::after{
    box-sizing: border-box;
}
body {
    font-family:'Shrikhand', 'Noto Sans TC', sans-serif;
    font-size: $font-size-base;
    line-height: 1.5;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
a{
    text-decoration: none;
    display: block;
}
.container {
    max-width: 1320px;
    padding: 0 12px;
    margin: 0 auto;
}