.about {
    &Banner {
        background: radial-gradient(50% 50% at 50% 50%, #300871 0%, #000 100%);
        color: $white;
        h2 {
            padding-top: 160px;
            font-size: 48px;
            @include pad {
                padding-top: 100px;
                font-size: 36px;
            }
            @include mobile {
                padding-top: 50px;
                font-size: 28px;
            }
        }
        &Back {
            background: url(../images/about_us.png) no-repeat;
            background-size: cover;
            height: 280px;
            @include pad {
                background: url(../images/mobile/about_us_mobile.png) 0% 100% no-repeat;
                background-size: cover;
                height: 360px;
            }
            @include mobile {
                background: url(../images/mobile/about_us_mobile.png) no-repeat;
                background-size: cover;
                height: 280px;
            }

        }
        &Text {
            padding-bottom: 36px;
        }
        &Footer {
            margin-top: 44px;
            margin-bottom: 156px;
            @include pad {
                margin-bottom: 96px;
            }
            @include mobile {
                margin-bottom: 64px;
            }
            p {
                margin-left: 25px;
                @include pad {
                    margin-left: 16px;
                }
                @include mobile {
                    margin-left: 8px;
                }
            }
        }
    }
    &Content {
        max-width: 1760px;
        margin: 0 auto;
        &List {
            display: flex;
            column-gap: 40px;
        }
        &Text {
            border-bottom: 12px solid #000;
            padding-bottom: 24px;
            h2 {
                font-size: 96px;
                letter-spacing: 96px;
                @include pad {
                    font-size: 48px;
                    letter-spacing: 48px;
                }
                @include mobile {
                    font-size: 20px;
                    letter-spacing: 20px;
                }
            }
        }
        &Left {
            //758px
            width: 42.3865%;
            @include mobile {
                font-size: 14px;
                width: 80%;
            }
        }
        &Right {
            //580px
            width: 32.9546%;
            @include mobile {
                font-size: 14px;
                width: 80%;
            }
        }
    }
    &Footer {
        &List {
            margin: 160px 0;
            @include pad {
                margin: 100px 0;
            }
            @include mobile {
                margin: 50px 0;
            }
        }
        &Photo {
            width: 58.488%;
            @include mobile {
                width: auto;
            }
        }
        &Text {
            width: 41.5125%;
            @include mobile {
                width: auto;
            }
        }
    }
    &Btn {
        @include mobile {
            margin: 0 auto;
        }
    }
}