.faq {
    color: red;
    padding-bottom: 120px;
    @include pad {
        padding-bottom: 80px;
    }
    h2 {
        font-size: 48px;
        letter-spacing: 48px;
        border-bottom: 3px dotted $white;
        font-weight: 900;
        @include mobile {
            font-size: 28px;
            letter-spacing: 28px;
        }
    }
    &List {
        font-weight: 500;
        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 32px;
        }
    }
    &Item {
        border-bottom: 2px dotted $white;
        h3 {
            font-weight: 500;
        }
        &Body {
            p {
                width: 78.713%;
            }
        }
    }
}
.faqBtn {
    &::after {
        background-image: url(../images/add.svg);
        background-size: cover;
        width: 40px;
        height: 40px;
        content: '';
        transition: .4s;
    }
    &:not(.collapsed)::after {
        background-image: url(../images/remove.svg);
        content: '';
        transition: .4s;
    }
}