.index {
  &Banner {
    background: url(../images/home_background.png) no-repeat 50% 50%;
    height: 880px;
    @include pad {
      height: 500px;
    }
    @include mobile {
      height: 360px;
    }
    img {
      width: 196px;
      height: 196px;
      @include pad {
        width: 148px;
        height: 148px;
      }
      @include mobile {
        width: 100px;
        height: 100px;
      }
    }
    &Box {
      max-width: 1760px;
      margin: 0 auto;
      @include pad {
        max-width: 768px;
      }
    }
    &Circle {
      width: 49.091%;
    }
    &Text {
      width: 49.091%;
      position: absolute;
      top: 36px;
      left: 50%;
      transform: translate(-50%, -50%);
      @include mobile {
        top: 18px;
      }
      h2 {
        font-size: 32px;
        letter-spacing: 80px;
        @include pc {
          font-size: 32px;
          letter-spacing: 32px;
        }
        @include pad {
          font-size: 24px;
          letter-spacing: 24px;
        }
        @include mobile {
          font-size: 14px;
          letter-spacing: 14px;

        }
      }
      h3 {
        letter-spacing: 16px;
        @include pad {
          font-size: 14px;
          letter-spacing: 14px;
        }
        @include mobile {
          display: none;
        }
      }
    }
    &Item {
      width: 23.6365%;
      background-size: cover;
      z-index: 100;
      h3 {
        @include mobile {
          font-size: 12px;
          text-align: center;
        }
      }
      h4 {
        font-size: 32px;
        color: #FFF;
        @include mobile {
          padding-top: 8px;
          font-size: 20px;
        }
      }
    }
    &Item1 {
      background-image: url(../images/diane.png);
      height: 676px;
      @include pc {
        height: 620px;
      }
      @include pad {
        height: 295px;
      }
      @include mobile {
        background: url(../images/mobile/diane_mobile.png) 50% 20%;
        height: 200px;
      }
    }
    &Item2 {
      background-image: url(../images/felix.png);
      height: 580px;
      @include pc {
        height: 524px;
      }
      @include pad {
        height: 215px;
      }
      @include mobile {
        background: url(../images/mobile/felix_mobile.png) 50% 25%;
        height: 165px;
      }
    }
    &Item3 {
      background-image: url(../images/karina.png);
      height: 580px;
      @include pc {
        height: 524px;
      }
      @include pad {
        height: 215px;
      }
      @include mobile {
        background: url(../images/mobile/karina_mobile.png) 35% 35%;
        height: 165px;
      }
    }
    &Item4 {
      background-image: url(../images/vito.png);
      height: 676px;
      @include pc {
        height: 620px;
      }
      @include pad {
        height: 295px;
      }
      @include mobile {
        background: url(../images/mobile/vito_mobile.png) 50% 20%;
        height: 200px;
      }
    }
    &Line {
      width: 100%;
      height: 40px;
      z-index: 100;
    }
  }
  &About {
    background: radial-gradient(50% 50% at 50% 50%, #300871 0%, #000 100%);
    &Back {
      max-width: 1920px;
      padding: 0 80px;
      margin: 0 auto;
      background-image: url(../images/carousel_background.png);
      background-size: 50% 100%;
      background-repeat: no-repeat;
      height: 1089px;
      @include pad {
        height: 840px;
      }
      @include mobile {
        height: 460px;
        padding: 0 12px;

      }
    }
    &Title {
      padding-top: 192px;
      @include pad {
        padding-top: 72px;
      }
      h2 {
        font-size: 48px;
        color: #FFF;
        letter-spacing: 48px;
        @include pad {
          font-size: 28px;
          letter-spacing: 28px;
        }
        @include mobile {
          font-size: 18px;
          letter-spacing: 18px;
        }
      }
    }
    &Card {
      background-image: url(../images/carousel.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 560px;
      color: #FFFFFF;
      padding-right: 40px;
      @include pad {
        background-image: url(../images/mobile/carousel_mobile.png);
      }
      @include mobile {
        height: 250px;
      }
      h3 {
        font-size: 96px;
        @include mobile {
          font-size: 48px;
        }
      }
      h4 {
        font-size: 32px;
        letter-spacing: 32px;
        @include mobile {
          font-size: 14px;
          letter-spacing: 6px;
        }
      }
      p {
        @include mobile {
          font-size: 12px;
          text-align: right;
        }
      }
    }
  }
  &News {
    color: #FFFFFF;
    &Header {
      padding-top: 160px;
      @include pad {
        padding-top: 80px;
      }
      @include mobile {
        text-align: center;
        padding-top: 40px;
      }
      h2 {
        font-size: 48px;
        letter-spacing: 48px;
        @include pad {
          font-size: 36px;
          letter-spacing: 36px;
        }
        @include mobile {
          font-size: 32px;
          letter-spacing: 32px;
        }
      }
    }
    &List {
      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &Content {
      h3 {
        font-size: 20px;
        letter-spacing: 20px;
      }
      h4 {
        letter-spacing: 16px;
        @include mobile {
          letter-spacing: 0;
        }
      }
    }
    &Icon {
      position: absolute;
      bottom: 202px;
      @include mobile {
        bottom: 155px;
      }
      a {
        @include mobile {
          font-size: 14px;
        }
      }
    }
    &Btn {
      margin: 0 auto;
      margin-top: 76px;
      margin-bottom: 96px;
      background-image: url(../images/circle-noDot.png);
      background-size: cover;
      height: 132px;
      width: 132px;
      background-repeat: no-repeat;
      @include mobile {
        width: 98px;
        height: 98px;
        font-size: 14px;
        margin-top: 38px;
        margin-bottom: 48px;
      }
    }
    &Footer {
      p {
        @include mobile {
          font-size: 14px;
        }
      }
    }
  }
  &Use {
    &Box {
      max-width: 1608px;
    }
    &Title {
      padding-top: 160px;
      @include pad {
        padding-top: 80px;
      }
      @include mobile {
        padding-top: 40px;
      }
      h2 {
        font-size: 48px;
        letter-spacing: 48px;
        @include pad {
          font-size: 36px;
          letter-spacing: 36px;
        }
        @include mobile {
          font-size: 32px;
          letter-spacing: 32px;
          padding-bottom: 8px;
        }
      }
    }
    &Back {
      max-width: 1920px;
      h2 {
        font-size: 400px;
        line-height: 200px;
        color: rgba(255, 255, 255, 0.04);
        position: relative;
        right: 300px;
        bottom: -40px;
        @include pad {
          font-size: 200px;
          line-height: 100px;
          bottom: -20px;
        }
        @include mobile {
          right: 150px;
          font-size: 120px;
          line-height: 60px;
          bottom: -100px;
        }
      }
    }
  }
  &Contact {
    background-color: #1F0F39;
    padding-bottom: 144px;
    color: #FFF;
    @include pad {
      padding-bottom: 72px;
    }
    @include mobile {
      padding-bottom: 54px;
    }
    &Dot {
      border-radius: 50%;
      background-color: #FFF;
      width: 12px;
      height: 12px;
    }
    &List {
      padding-top: 144px;
      @include pad {
        padding-top: 72px;
      }
      @include mobile {
        padding-top: 36px;
      }
    }
    &Title {
      width: 25.455%;
      @include pad {
        width: 50%;
        padding: 0 12px;
      }
      @include mobile {
        width: 100%;
      }
      h2 {
        font-size: 48px;
        letter-spacing: 48px;
        padding-bottom: 20px;
        @include mobile {
          font-size: 32px;
          letter-spacing: 32px;
        }
      }
      span {
        font-size: 48px;
        @include mobile {
          font-size: 32px;
        }
      }
    }
    &Line {
      width: 124px;
      height: 12px;
      background-color: #FFF;
      border-radius: 50px;
    }
    &Text {
      padding-top: 54px;
      @include pad {
        padding-top: 0;
      }
    }
    &Btn {
      width: 416px;
    }

  }
  &Product {
    color: $white;
    &Item {
      color: $white;
      position: relative; 
      background-blend-mode: darken;
      background-size: cover;
      background-position: center;
      transition: all 1s;
      height: 876px;
      background-color: rgba(0, 0, 0, 1);
      @include pad {
        height: 420px;
      }
      @include mobile {
        height: 240px;
      }
      h2 {
        font-size: 400px;
        @include pad {
          font-size: 150px;
        }
        @include mobile {
          font-size: 100px;
        }
      }
      h3 {
        font-size: 32px;
        @include mobile {
          font-size: 24px;
        }
      }
      h4 {
        @include pad {
          font-size: 14px;
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(0, 0, 0, 1);
        opacity: 1;
        transition: opacity 1s; 
        pointer-events: none;
      }
      &:hover:before {
        opacity: 0; 
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
    &Item1 {
      background: url(../images/diane_vertical.png) no-repeat 50% 0;
      background-size: cover;
      height: 876px;
      width: 25%;
      @include pad {
        height: 420px;
      }
      @include mobile {
        height: 240px;
      }
    }
    &Item2 {
      background: url(../images/felix_vertical.png) no-repeat 50% 0;
      background-size: cover;
      height: 876px;
      width: 25%;
      @include pad {
        height: 420px;
      }
      @include mobile {
        height: 240px;
      }
    }
    &Item3 {
      background: url(../images/karina_verticalgle.png) no-repeat 50% 0;
      background-size: cover;
      height: 876px;
      width: 25%;
      @include pad {
        height: 420px;
      }
      @include mobile {
        height: 240px;
      }
    }
    &Item4 {
      background: url(../images/vito_vertical.png) no-repeat 50% 0;
      background-size: cover;
      height: 876px;
      width: 25%;
      @include pad {
        height: 420px;
      }
      @include mobile {
        height: 240px;
      }
    }
  }
}

.common {
  &Back {
    &Color1 {
        background: radial-gradient(50% 50.00% at 50% 50.00%, #28085C 0%, #000 100%);
    }
    &Color2 {
      background: radial-gradient(50% 50% at 50% 50%, #000 0%, #28085C 100%);
  }
  }
}


