.login {
    background: radial-gradient(50% 50% at 50% 50%, #28085C 0%, #000 100%);
    padding-bottom: 160px;
    @include mobile {
        padding-bottom: 60px;
    }
    &Title {
        padding-top: 60px;
        @include mobile {
            padding-top: 40px;
        }
        h2 {
            color: #FFF;
            font-size: 64px;
            letter-spacing: 64px;
            @include pad {
                font-size: 48px;
                letter-spacing: 48px;
            }
            @include mobile {
                font-size: 28px;
                letter-spacing: 28px;
            }
        }
        h3 {
            visibility: hidden;
            font-size: 64px;
            letter-spacing: 64px;
            @include pad {
                font-size: 48px;
                letter-spacing: 48px;
            }
            @include mobile {
                font-size: 28px;
                letter-spacing: 28px;
            }
        }
        img {
            height: 196px;
            @include pad {
                height: 148px;
            }
            @include mobile {
                height: 108px;
            }
        }
    }
    &Top {
        h3 {
            font-size: 32px;
        }
        &Item {
            width: 32.2535%;
            border-radius: 24px;
            border: 1px solid #FFF;
            padding: 10px 0;
            @include pad {
                width: 55.99%;
            }
            @include mobile {
                width: 88%;
            }
            h4 {
                margin-left: 10px;
            }
        }
    }
    &Center {
        &Box {
            width: 32.2535%;
            @include pad {
                //416px
                width: 56.6%;
            }
            @include mobile {
                width: 88%;
            }
        }
    }
    &Bottom {
        &Form {
            width: 32.2535%;
            @include pad {
                width: 55.99%;
            }
            @include mobile {
                width: 88%;
            }
        }
    }
    &Btn {
        padding: 8px 16px;
    }
}

.register {
    background: radial-gradient(50% 50% at 50% 50%, #28085C 0%, #000 100%);
    padding-bottom: 160px;
    @include mobile {
        padding-bottom: 60px;
    }
}