.product {
    color: #000000;
    &Header {
        &List {
            display: flex;
            column-gap: 24px;
            justify-content: center;
        }
        &Link {
            color: #FFF;
            font-size: 24px;
            padding: 4px 80px;
        }
    }
    &Banner {
        &Back {
            width: 50%;
        }
        &Photo {
            background-size: cover;
            height: 925px;
        }
        &Back1 {
            background: url(../images/diane_square1.png) no-repeat;
            background-size: cover;
            height: 925px;
        }
        &Back2 {
            background: url(../images/diane_square2.png) no-repeat;
            background-size: cover;
            height: 925px;
        }
        &Back3 {
            background: url(../images/felix_square1.png) no-repeat;
            background-size: cover;
            height: 925px;
        }
        &Back4 {
            background: url(../images/felix_square2.png) no-repeat;
            background-size: cover;
            height: 925px;
        }
        &Back5 {
            background: url(../images/karina_square1.png) no-repeat;
            background-size: cover;
            height: 925px;
        }
        &Back6 {
            background: url(../images/karina_square2.png) no-repeat;
            background-size: cover;
            height: 925px;
        }
        &Back7 {
            background: url(../images/vito_square1.png) no-repeat;
            background-size: cover;
            height: 925px;
        }
        &Back8 {
            background: url(../images/vito_square2.png) no-repeat;
            background-size: cover;
            height: 925px;
        }
        &Text {
            width: 50%;
            background-color: #000000;
            color: #FFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                font-size: 64px;
            }
            h3 {
                font-weight: bold;
            }
        }
    }
    &Intro {
        padding-top: 80px;
        padding-bottom: 120px;
        &Title {
            h3 {
                font-size: 24px;
                line-height: 24px;
            }
        }
        &Content {
            margin-top: 120px;
            &Item {
                margin-bottom: 104px;
            }
        }
    }
}

.nav-pills .nav-link.active{
    width: 100%;
    background-color: #FFF;
    color: #000;
}
.nav-pills .nav-link {
    border-radius: 40px;
    border: 1px solid #FFF;
}