<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/images/logo.ico">
    <title>ALPHABOX+ 使用問題</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="faq bg-gray">
      <div class="container">
        
        <h2 class="text-info fw-bold py-lg-9 py-md-6">FAQ</h2>
        <ul class="row mt-7">
          <li class="col-4">
            <a href="#" class="text-info pb-4">
              ALPHABOX+ 使用問題
            </a>
            <a href="#" class="text-info pb-4">
              訂購與運送
            </a>
            <a href="#" class="text-info">
              產品保養與維修
            </a>
          </li>
          <li class="col-8">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="faqItem accordion-item py-0 pb-7 bg-gray">
                <h3 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="faqBtn accordion-button bg-gray text-info pt-0 pb-0" type="button" 
                          data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" 
                          aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    ALPHABOX+ 的使用方式是什麼？
                  </button>
                </h3>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="faqItemBody px-5 pb-0 accordion-body">
                    <p>
                      首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                    </p>
                  </div>
                </div>
              </div>
              <div class="faqItem accordion-item py-7 bg-gray">
                <h3 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="faqBtn accordion-button collapsed bg-gray text-info py-0" type="button" 
                          data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" 
                          aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    ALPHABOX+ 需要什麼樣的環境來使用？
                  </button>
                </h3>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="faqItemBody px-5 pb-0 accordion-body">
                    <p>
                      首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                    </p>
                  </div>
                </div>
              </div>
              <div class="faqItem accordion-item py-7 bg-gray">
                <h3 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="faqBtn accordion-button collapsed bg-gray text-info py-0" type="button" 
                          data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" 
                          aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    ALPHABOX+ 支援哪些語言？
                  </button>
                </h3>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                  <div class="faqItemBody px-5 pb-0 accordion-body">
                    <p>
                      首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                    </p>
                  </div>
                </div>
              </div>
              <div class="faqItem accordion-item py-7 bg-gray">
                <h3 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="faqBtn accordion-button collapsed bg-gray text-info py-0" type="button" 
                          data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" 
                          aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                    ALPHABOX+ 的軟體更新方式為何？
                  </button>
                </h3>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                  <div class="faqItemBody px-5 pb-0 accordion-body">
                    <p>
                      首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                    </p>
                  </div>
                </div>
              </div>
              <div class="faqItem accordion-item py-7 bg-gray">
                <h3 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="faqBtn accordion-button collapsed bg-gray text-info py-0" type="button" 
                          data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" 
                          aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                    購買 ALPHABOX+ 後的售後服務如何？
                  </button>
                </h3>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                  <div class="faqItemBody px-5 pb-0 accordion-body">
                    <p>
                      首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                    </p>
                  </div>
                </div>
              </div>
              <div class="faqItem accordion-item py-7 bg-gray">
                <h3 class="accordion-header" id="panelsStayOpen-headingSix">
                  <button class="faqBtn accordion-button collapsed bg-gray text-info py-0" type="button" 
                          data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" 
                          aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                    ALPHABOX+ 與其他智能家居設備的相容性如何？
                  </button>
                </h3>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                  <div class="faqItemBody px-5 pb-0 accordion-body">
                    <p>
                      首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
